@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #DB4444;
  --color-secondary: #00FF66;
  --color-base-100: #F5F5F5;
  --color-base-200: #7D8184;
  --color-base-300: #363738;
  --color-accent: #E07575;
}